

body{
    background-image: url(blacbac.png);
    /* background-position: center;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center; */
}
.logo{
  max-width: 5%;
  
}